*{
  margin: 0;
}
.app{
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.header{
  font-size: 35px;
  margin-top: 10px;
  color:rgb(252, 136, 136);
  font-weight: bold;
}
.card{
 
  width: 100%;
  border: 6px solid rgb(252, 136, 136);
  background-color: rgb(243, 241, 236);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 10px 0px 15px 10px;
}
.img{
  width: 100px;
  padding: 10px;
  
}
.name{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(129, 127, 123);
}
.pagination{
  padding: 10px;
   font-size: 20px;
   margin-left: 100px;
}

.box1{
  border: 2px solid rgb(42, 90, 221);
  padding: 15px;
  color:blue;
}

.box2{
  display: flex;
  text-align: center;
  color:blue;
}
.box3{
  border: 2px solid rgb(42, 90, 221);
  padding: 15px;
  color:blue;
}
.class{
  border: 2px solid rgb(42, 90, 221);
  padding: 15px;
  color:blue;
}